<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/layout/layout.html}">

  <main layout:fragment="contents">
    <div id="main-slide" class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div id="sub-slide01" class="swiper-slide">
          <div class="slide-title">
            <ul>
              <li>쀼띠아 X KEY</li>
              <li>PHOTO CARD PROMOTION</li>
              <li>KEY 스페셜 포토카드 선착순 증정 + 30% OFF</li>
            </ul>
            <ul>
              <li>30% OFF</li>
              <li>GIFT</li>
            </ul>
          </div> <!--// #slide-title-->
        </div> <!--// #sub-slide01-->
        <div id="sub-slide02" class="swiper-slide">
          <div class="slide-title">
            <ul>
              <li>NO.1 베스트 명가</li>
              <li>페이스 메이크업 대전</li>
              <li>MAX 50% 할인 혜택의 기회</li>
            </ul>
            <ul>
              <li>~50% OFF</li>
              <li>GIFT</li>
            </ul>
          </div> <!--// #slide-title-->
        </div> <!--// #sub-slide02-->
        <div id="sub-slide03" class="swiper-slide">
          <div class="slide-title">
            <ul>
              <li>NEW컬러 출시</li>
              <li>찐 데일리 팔레트, 리얼 아이 팔레트 </li>
              <li>버릴 컬러 없는 풀메팔레트 30% 할인+레드뷰러 증정 </li>
            </ul>
            <ul>
              <li>30% OFF</li>
            </ul>
          </div> <!--// #slide-title-->
        </div> <!--// #sub-slide03-->
        <div id="sub-slide04" class="swiper-slide">
          <div class="slide-title">
            <ul>
              <li>NEW</li>
              <li>48H 컴포트 벨벳매트, 비 벨벳 파운데이션</li>
              <li>#비건파데 #컴포트매트 # 48H파워래스팅</li>
            </ul>
            <ul>
              <li>30% OFF</li>
            </ul>
          </div> <!--// #slide-title-->
        </div> <!--// #sub-slide04-->
        <div id="sub-slide05" class="swiper-slide">
          <div class="slide-title">
            <ul>
              <li>3월의 선물</li>
              <li>공식몰 ONLY, SPECIAL GIFT </li>
              <li>최대 12,000원 상당 정품 증정 혜택을 놓치지 마세요 </li>
            </ul>
            <ul>
              <li>GIFT</li>
            </ul>
          </div> <!--// #slide-title-->
        </div> <!--// #sub-slide05-->
      </div>
      <div class="main-slidebar"></div>
    </div> <!--// #main-slide-->

    <div id="item-01">
      <div class="item-01-bg">
        <ul>
          <li><a href="#"><img src="img/item-01-1.jpg" alt="이미지1"></a>
            <div class="item-01-1-title">
              <span class="item01 item01-1-txt">BE VELVET</span>
            </div> <!--// .item-01-1-title-->
          </li>
          <li><a href="#"><img src="img/item-01-2.jpg" alt="이미지2"></a>
            <div class="item-01-1-title">
              <span class="item02 item01-1-txt">PRO TAILOR</span>
            </div> <!--// .item-01-1-title-->
          </li>
        </ul>
      </div> <!--// .item-01-bg-->
    </div> <!--// #item-01-->
    <div id="item-02">
      <div class="item-02-1">
        <a class="item-02-1-bg-img" href="#"></a>
        <div class="item-02-1-imgs">
          <span><img src="img/item-02-2.jpg" alt="이미지2"></span>
          <p class="hover-01 hover-m">BE VELVET LOOK</p>
          <ul>
            <li class="img-hover-01 hover-m"><a href="#"><img src="img/item-02-3.jpg" alt="이미지3"></a></li>
            <li class="img-768 img-hover-01 hover-m"><a href="#"><img src="img/item-02-4.jpg" alt="이미지4"></a></li>
          </ul>
        </div> <!--// .item-02-1-imgs-->
      </div> <!--// .item-02-1-->
    </div> <!--// #item-02-->
    <div id="item-03">
      <div class="item-03-bg">
        <div class="item-03-1-txt">
          <span class="ro-hover1 hover-m">W</span>
          <span class="ro-hover2 hover-m">A</span>
          <span class="ro-hover3 hover-m">T</span>
          <span class="ro-hover4 hover-m">E</span>
          <span class="ro-hover5 hover-m">R</span>
          <span>&nbsp;</span>
          <span class="ro-hover6 hover-m">V</span>
          <span class="ro-hover7 hover-m">E</span>
          <span class="ro-hover8 hover-m">L</span>
          <span class="ro-hover9 hover-m">V</span>
          <span class="ro-hover10 hover-m">E</span>
          <span class="ro-hover11 hover-m">T</span>
          <span>&nbsp;</span>
          <span class="ro-hover12 hover-m">L</span>
          <span class="ro-hover13 hover-m">O</span>
          <span class="ro-hover14 hover-m">O</span>
          <span class="ro-hover15 hover-m">K</span>
        </div> <!--// .item-03-1-txt-->
        <ul>
          <li><a href="#"><img src="img/item-03-1.jpg" alt="이미지1"></a></li>
          <li class="img-hover-03 hover-m"><a href="#"><img src="img/item-03-2.jpg" alt="이미지2"></a></li>
          <li><img src="img/item-03-3.jpg" alt="이미지3"></li>
        </ul>
        
      </div> <!--// .item-03-bg-->
    </div> <!--// #item-03-->
    <div id="item-04">
      <div class="item-02-1">
        <a class="item-02-1-bg-img" href="#"></a>
        <div class="item-02-1-imgs">
          <span><img src="img/item-04-2.jpg" alt="이미지2"></span>
          <p class="hover-01 hover-m">PEACH BASE LOOK</p>
          <ul>
            <li class="img-hover-01 hover-m"><a href="#"><img src="img/item-04-3.jpg" alt="이미지3"></a></li>
            <li class="img-768 img-hover-01 hover-m"><a href="#"><img src="img/item-04-4.jpg" alt="이미지4"></a></li>
          </ul>
        </div> <!--// .item-02-1-imgs-->
        
        </div> <!--// .ain-txt-->
        <div class="ain-txt">
          <span><a href="#">VIEW MORE ></a></span>
          <span>
            <MARQUEE behavior="scroll">
              <b>
                <img class="img-mov01 hover-m" src="img/EXPECT.png" alt="EXPECT">
                <b class="img-mov02 hover-m">BETTER YOU</b>

                <img class="img-mov01 hover-m" src="img/EXPECT.png" alt="EXPECT">
                <b class="img-mov02 hover-m">BETTER YOU</b>
              </b>
              </MARQUEE> 
              
          </span> 
      </div> <!--// .item-02-1-->
    </div> <!--// #item-04-->
    <div id="slide-sub">
      <div class="slide-sub-title">
        <p>LIVE & MORE</p>
        <p>2022 화려한 연말 메이크업</p>
        <p>2022년, 블링블링 글리터 아이돌 메이크업로 가장 화려한 연말 보내세요<br>
          HAPPY NEW YEAR!!</p>
      </div> <!--// .slide-sub-title-->
      <div id="slide-02" class="swiper mySwiper">
        <div id="slide-02-area" class="swiper-wrapper">
          <div id="slide-02-sub-01" class="swiper-slide sub-02"></div>
          <div id="slide-02-sub-02" class="swiper-slide sub-02"></div>
          <div id="slide-02-sub-03" class="swiper-slide sub-02"></div>
          <div id="slide-02-sub-04" class="swiper-slide sub-02"></div>
          <div id="slide-02-sub-05" class="swiper-slide sub-02"></div>
          <div id="slide-02-sub-06" class="swiper-slide sub-02"></div>
          <div id="slide-02-sub-07" class="swiper-slide sub-02"></div>
          <div id="slide-02-sub-08" class="swiper-slide sub-02"></div>
          <div id="slide-02-sub-09" class="swiper-slide sub-02"></div>
        </div>
      </div>
      <div class="sub-slide-bar02"></div>
    </div> <!--// #slide-sub-->
    <div id="slide-sub02">
      <div class="slide-sub02-txt">
        <span>HOT TOK</span>
      </div> <!--// .slide-sub02-txt-->
      <div id="slide-03" class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div id="slide-03-sub-01" style="width: 828px;" class="swiper-slide sub-03"></div>
          <div id="slide-03-sub-02" style="width: 828px;" class="swiper-slide sub-03"></div>
          <div id="slide-03-sub-03" style="width: 828px;" class="swiper-slide sub-03"></div>
          <div id="slide-03-sub-04" style="width: 828px;" class="swiper-slide sub-03"></div>
          <div id="slide-03-sub-05" style="width: 828px;" class="swiper-slide sub-03"></div>
          <div id="slide-03-sub-06" style="width: 828px;" class="swiper-slide sub-03"></div>
          <div id="slide-03-sub-07" style="width: 828px;" class="swiper-slide sub-03"></div>
          <div id="slide-03-sub-08" style="width: 828px;" class="swiper-slide sub-03"></div>
          <div id="slide-03-sub-09" style="width: 828px;" class="swiper-slide sub-03"></div>
        </div>
      </div>
      <div class="sub-slide-bar03"></div>
    </div> <!--// #slide-sub02-->
  </main>


  <!-- 마이페이지 > 컬럭션 (인스타그램 사진 관련 업로드) -->
  <!-- 게시글 페이지 -->
  