<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/layout/layout.html}">

  <main layout:fragment="contents">
    <section class="nonLoginArea">
      <article class="nonLoginArea-content">
        <from>
          <h1>비회원(조회)</h1>
          userid <input type="text" name="" id="">
          <button>버튼</button>
        </from>
        <a href="#">아직 회원기 아니세요?</a>
      </article><!-- nonLoginArea-content -->
    </section><!-- nonLogin-Area -->
  </main>


  <!-- 마이페이지 > 컬럭션 (인스타그램 사진 관련 업로드) -->
  <!-- 게시글 페이지 -->
  