body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#homePage-box {
  display: flex;
}
#homePage-box #homePage-header {
  width: 145px;
}
#homePage-box #homePage-header .homePage-header-area {
  height: 100vh;
}
#homePage-box #homePage-header .homePage-header-area .homePage-header-logo {
  width: 100%;
  height: 180px;
  background-color: #000;
  display: grid;
  place-content: center;
  text-align: center;
}
#homePage-box #homePage-header .homePage-header-area .homePage-header-logo .header-logo-content01 p:nth-child(2) {
  margin-top: 25px;
  font-size: 12px;
  color: #a5a5a5;
}
#homePage-box #homePage-header .homePage-header-area .homePage-header-nav {
  width: 100%;
  height: 81.4%;
  background-color: #181818;
}
#homePage-box #homePage-header .homePage-header-area .homePage-header-nav .header-nav--menu {
  padding: 200px 0;
}
#homePage-box #homePage-header .homePage-header-area .homePage-header-nav .header-nav--menu ul {
  text-align: center;
  font-size: 16px;
}
#homePage-box #homePage-header .homePage-header-area .homePage-header-nav .header-nav--menu ul li a {
  color: #909096;
  display: inline-block;
  width: 100%;
  line-height: 3;
  transition: all 0.4s ease;
}
#homePage-box #homePage-header .homePage-header-area .homePage-header-nav .header-nav--menu ul li a:hover {
  color: #08fdd8 !important;
  font-weight: bold;
}
#homePage-box #homePage-header .homePage-header-area .homePage-header-nav .header-nav--menu ul li:nth-child(1) a {
  border-top: 1px solid #282828;
}
#homePage-box #homePage-header .homePage-header-area .homePage-header-nav .header-nav--menu ul li:nth-child(2) a, #homePage-box #homePage-header .homePage-header-area .homePage-header-nav .header-nav--menu ul li:nth-child(4) a {
  border-top: 1px solid #282828;
  border-bottom: 1px solid #282828;
}
#homePage-box #homePage-main {
  width: 100%;
  height: 100vh;
}

.clickColor {
  color: #08fdd8 !important;
  font-weight: bold;
  transition: all 0.4s ease;
}