<!DOCTYPE html>
<html lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/layout/layout.html}">>

  <style>
    
  </style>
  <main id="homePage-main" layout:fragment="contents">
    <section class="pageChange">
      <article class="myPage-area">
        <div id="page">
          <div class="container home-page">
            <span class="tags top-tags"> 
              &lt;html&gt;<br> &nbsp;&nbsp;&nbsp;&lt;body&gt; 
            </span>
            <div class="text-zone">
              <h1 aria-label=" Hi, I’m ulamabbas,web developer." class="blast-root">
                Hi, <br> I'm 
                <img src="/images/logo-o.png" alt="G" class="animated rotateIn">wani,
                <br>
                web developer.
              </h1>
              <h2>HTML / CSS / JavaScript / Jquery / Java / Spring Boot <br/><br/>
                  Front And Back
              </h2>
              <a rel="contact" href="#contact" class="flat-button" style="opacity: 1;">CONTACT ME</a>
            </div>
            <span class="tags bottom-tags"> &nbsp;&nbsp;&nbsp;&lt;/body&gt;<br> &lt;/html&gt; </span>
          </div>
        </div>
      </article><!-- myPage-area -->
    </section>
  </main>